Libraries

In [1]:
import pandas as pd

Data

In [2]:
flight_itineraries_data = pd.read_csv('../../data/flight_itineraries_data.csv')

display(flight_itineraries_data.shape)
display(flight_itineraries_data.head())

(15396, 13)

,id,price_amount,marketing_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_datetime,arrival_datetime,departure_query,arrival_query,segment_count,total_flight_duration
0,"10258-2305220035--31924,-31939-2-11389-2305231220",1289.18,Royal Brunei > Qatar Airways > Qatar Airways,Bandar Seri Begawan > Tokyo Narita > Hamad Int...,BWN > NRT > DOH,Tokyo Narita > Hamad International > Ankara Es...,NRT > DOH > ESB,2023-05-22 00:35:00,2023-05-23 12:20:00,BWN,ESB,3,1285
1,10258-2305220035--31924-0-14788-2305220730,459.44,Royal Brunei,Bandar Seri Begawan,BWN,Tokyo Narita,NRT,2023-05-22 00:35:00,2023-05-22 07:30:00,BWN,NRT,1,355
2,"10258-2305220850--31924,-31734-2-25715-2305240220",1195.40,Royal Brunei > Turkish Airlines > Turkish Air...,Bandar Seri Begawan > Kuala Lumpur Internation...,BWN > KUL > IST,Kuala Lumpur International > Istanbul > Astana...,KUL > IST > NQZ,2023-05-22 08:50:00,2023-05-24 02:20:00,BWN,NQZ,3,1085
3,"10258-2305220850--31924,-31734-2-9561-2305240210",1160.90,Royal Brunei > Turkish Airlines > Turkish Air...,Bandar Seri Begawan > Kuala Lumpur Internation...,BWN > KUL > IST,Kuala Lumpur International > Istanbul > Ashgabat,KUL > IST > ASB,2023-05-22 08:50:00,2023-05-24 02:10:00,BWN,ASB,3,1010
4,"10258-2305220850--31924,-31821-1-10610-2305221620",353.10,Royal Brunei > SriLankan Airlines,Bandar Seri Begawan > Kuala Lumpur International,BWN > KUL,Kuala Lumpur International > Colombo Bandarana...,KUL > CMB,2023-05-22 08:50:00,2023-05-22 16:20:00,BWN,CMB,2,365

In [6]:
cost_of_hour = 20
cost_of_stop = 50

flight_itineraries_data['flight_score'] = flight_itineraries_data['price_amount'] + flight_itineraries_data['total_flight_duration'].divide(60).multiply(cost_of_hour) + flight_itineraries_data['segment_count'].multiply(cost_of_stop)

flight_itineraries_data['flight_score'] = flight_itineraries_data['flight_score'].round(2)

flight_itineraries_data.head()

,id,price_amount,marketing_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_datetime,arrival_datetime,departure_query,arrival_query,segment_count,total_flight_duration,flight_score
0,"10258-2305220035--31924,-31939-2-11389-2305231220",1289.18,Royal Brunei > Qatar Airways > Qatar Airways,Bandar Seri Begawan > Tokyo Narita > Hamad Int...,BWN > NRT > DOH,Tokyo Narita > Hamad International > Ankara Es...,NRT > DOH > ESB,2023-05-22 00:35:00,2023-05-23 12:20:00,BWN,ESB,3,1285,1867.51
1,10258-2305220035--31924-0-14788-2305220730,459.44,Royal Brunei,Bandar Seri Begawan,BWN,Tokyo Narita,NRT,2023-05-22 00:35:00,2023-05-22 07:30:00,BWN,NRT,1,355,627.77
2,"10258-2305220850--31924,-31734-2-25715-2305240220",1195.40,Royal Brunei > Turkish Airlines > Turkish Air...,Bandar Seri Begawan > Kuala Lumpur Internation...,BWN > KUL > IST,Kuala Lumpur International > Istanbul > Astana...,KUL > IST > NQZ,2023-05-22 08:50:00,2023-05-24 02:20:00,BWN,NQZ,3,1085,1707.07
3,"10258-2305220850--31924,-31734-2-9561-2305240210",1160.90,Royal Brunei > Turkish Airlines > Turkish Air...,Bandar Seri Begawan > Kuala Lumpur Internation...,BWN > KUL > IST,Kuala Lumpur International > Istanbul > Ashgabat,KUL > IST > ASB,2023-05-22 08:50:00,2023-05-24 02:10:00,BWN,ASB,3,1010,1647.57
4,"10258-2305220850--31924,-31821-1-10610-2305221620",353.10,Royal Brunei > SriLankan Airlines,Bandar Seri Begawan > Kuala Lumpur International,BWN > KUL,Kuala Lumpur International > Colombo Bandarana...,KUL > CMB,2023-05-22 08:50:00,2023-05-22 16:20:00,BWN,CMB,2,365,574.77

In [11]:
# group and get lowest score val
min_flight_score_indices = flight_itineraries_data.groupby(['departure_query', 'arrival_query'])['flight_score'].idxmin()

# filter
filtered_flight_itineraries = flight_itineraries_data.loc[min_flight_score_indices]
filtered_flight_itineraries = filtered_flight_itineraries.reset_index(drop=True)

display(filtered_flight_itineraries.shape)
display(filtered_flight_itineraries.head())

(1722, 14)

,id,price_amount,marketing_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_datetime,arrival_datetime,departure_query,arrival_query,segment_count,total_flight_duration,flight_score
0,9445-2305221250--32348-1-9561-2305230325,368.17,Emirates > Emirates,Amman Queen Alia > Dubai,AMM > DXB,Dubai > Ashgabat,DXB > ASB,2023-05-22 12:50:00,2023-05-23 03:25:00,AMM,ASB,2,330,578.17
1,9445-2305220835--32761-0-9618-2305221240,82.34,Wizz Air Abu Dhabi,Amman Queen Alia,AMM,Abu Dhabi International,AUH,2023-05-22 08:35:00,2023-05-22 12:40:00,AMM,AUH,1,185,194.01
2,"9445-2305221730--30759,-31669-1-9715-2305230640",207.99,Air Arabia Abu Dhabi > Wizz Air,Amman Queen Alia > Abu Dhabi International,AMM > AUH,Abu Dhabi International > Bahrain,AUH > BAH,2023-05-22 17:30:00,2023-05-23 06:40:00,AMM,BAH,2,250,391.32
3,9445-2305221000--32062-0-9834-2305221100,188.90,MEA,Amman Queen Alia,AMM,Beirut,BEY,2023-05-22 10:00:00,2023-05-22 11:00:00,AMM,BEY,1,60,258.90
4,9445-2305220515--31923-0-9882-2305220700,214.90,Royal Jordanian,Amman Queen Alia,AMM,Baghdad International,BGW,2023-05-22 05:15:00,2023-05-22 07:00:00,AMM,BGW,1,105,299.90

In [12]:
# export - uncomment if needed
#filtered_flight_itineraries.to_csv(f'../../data/best_flights_data.csv', index=False)