Libraries

In [1]:
import pandas as pd
import os
from datetime import datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Data

In [2]:
###### flight api data
# set path
data_directory_name = f'../../Data/FlightAPIData/'
subfolder_name = f'2023-05-22-FlightData/'
path_name = f'{data_directory_name}{subfolder_name}'

# init data frames
data_frames = []

# get all data ames
for filename in os.listdir(path_name):
    if filename.endswith('.csv'):
        file_path = os.path.join(path_name, filename)
        df = pd.read_csv(file_path)
        data_frames.append(df)

# concat
flight_data = pd.concat(data_frames, ignore_index=True)


###### capital cities data
capital_cities = pd.read_csv('../../Data/capital_cities_and_airports.csv')
iata_codes_list = capital_cities['airport_iata'].tolist()

In [3]:
# check
display(flight_data.shape)
display(flight_data.head())

(38236, 18)

,id,price_amount,price_unit,segment_id,transfer_type,agent_name,duration_minutes,marketing_flight_number,departure_datetime,arrival_datetime,marketing_carrier_name,operating_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_query,arrival_query
0,"11431-2305220255--31973,-30943-2-12042-2305221435",449400.0,PRICE_UNIT_MILLI,11431-9692-2305220255-2305220410--31973,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,135,557,2023-05-22 02:55:00,2023-05-22 04:10:00,Pegasus Airlines,Pegasus Airlines,Yerevan,EVN,Antalya,AYT,EVN,GYD
1,"11431-2305220255--31973,-30943-2-12042-2305221435",449400.0,PRICE_UNIT_MILLI,9692-16096-2305220605-2305220720--31973,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,75,2029,2023-05-22 06:05:00,2023-05-22 07:20:00,Pegasus Airlines,Pegasus Airlines,Antalya,AYT,Istanbul Sabiha,SAW,EVN,GYD
2,"11431-2305220255--31973,-30943-2-12042-2305221435",449400.0,PRICE_UNIT_MILLI,16096-12042-2305221050-2305221435--30943,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,165,9104,2023-05-22 10:50:00,2023-05-22 14:35:00,Buta Airways,Buta Airways,Istanbul Sabiha,SAW,Baku Heydar Aliyev International,GYD,EVN,GYD
3,"11431-2305220255--31973,-31734-2-12042-2305221610",323300.0,PRICE_UNIT_MILLI,11431-9692-2305220255-2305220410--31973,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,135,557,2023-05-22 02:55:00,2023-05-22 04:10:00,Pegasus Airlines,Pegasus Airlines,Yerevan,EVN,Antalya,AYT,EVN,GYD
4,"11431-2305220255--31973,-31734-2-12042-2305221610",323300.0,PRICE_UNIT_MILLI,9692-11389-2305220950-2305221055--31734,TRANSFER_TYPE_PROTECTED_SELF_TRANSFER,Trip.com,65,7021,2023-05-22 09:50:00,2023-05-22 10:55:00,Turkish Airlines,AnadoluJet,Antalya,AYT,Ankara Esenboga,ESB,EVN,GYD

In [4]:
# check unique pairs
check_unique_pairs = flight_data[['departure_query', 'arrival_query']]
check_unique_pairs = check_unique_pairs.drop_duplicates()
check_unique_pairs.shape

(1722, 2)

In [5]:
# convert the price units to dollars, rather than in thousands
flight_data['price_amount'] = flight_data['price_amount'].astype(float).divide(1000)
# drop unecesary columns
flight_data=flight_data.drop(['price_unit', 'agent_name', 'marketing_flight_number', 'transfer_type', 'operating_carrier_name'], axis=1)

In [9]:
flight_data.head()

,id,price_amount,segment_id,duration_minutes,departure_datetime,arrival_datetime,marketing_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_query,arrival_query
0,"11431-2305220255--31973,-30943-2-12042-2305221435",449.4,11431-9692-2305220255-2305220410--31973,135,2023-05-22 02:55:00,2023-05-22 04:10:00,Pegasus Airlines,Yerevan,EVN,Antalya,AYT,EVN,GYD
1,"11431-2305220255--31973,-30943-2-12042-2305221435",449.4,9692-16096-2305220605-2305220720--31973,75,2023-05-22 06:05:00,2023-05-22 07:20:00,Pegasus Airlines,Antalya,AYT,Istanbul Sabiha,SAW,EVN,GYD
2,"11431-2305220255--31973,-30943-2-12042-2305221435",449.4,16096-12042-2305221050-2305221435--30943,165,2023-05-22 10:50:00,2023-05-22 14:35:00,Buta Airways,Istanbul Sabiha,SAW,Baku Heydar Aliyev International,GYD,EVN,GYD
3,"11431-2305220255--31973,-31734-2-12042-2305221610",323.3,11431-9692-2305220255-2305220410--31973,135,2023-05-22 02:55:00,2023-05-22 04:10:00,Pegasus Airlines,Yerevan,EVN,Antalya,AYT,EVN,GYD
4,"11431-2305220255--31973,-31734-2-12042-2305221610",323.3,9692-11389-2305220950-2305221055--31734,65,2023-05-22 09:50:00,2023-05-22 10:55:00,Turkish Airlines,Antalya,AYT,Ankara Esenboga,ESB,EVN,GYD

In [15]:


# Define a custom aggregation function
def concatenate_values(series):
    return ' > '.join(series)

# Group by 'id' and apply the custom aggregation function to the desired columns
aggregated_data = flight_data.groupby('id', as_index=False).agg({
    'price_amount': 'first',
    'marketing_carrier_name': concatenate_values,
    'origin_place_name': concatenate_values,
    'origin_place_iata': concatenate_values,
    'destination_place_name': concatenate_values,
    'destination_place_iata': concatenate_values,
    'departure_datetime': 'first',
    'arrival_datetime': 'last',
    'departure_query': 'first',
    'arrival_query': 'last'
})

# Calculate the count of segments for each itinerary
segment_counts = flight_data.groupby('id', as_index=False).size().rename(columns={'size': 'segment_count'})

# Merge the segment counts with the aggregated data
aggregated_data = aggregated_data.merge(segment_counts, on='id', how='left')

# Calculate the sum of duration_minutes for each itinerary
duration_sum = flight_data.groupby('id', as_index=False)['duration_minutes'].sum().rename(columns={'duration_minutes': 'total_flight_duration'})

# Merge the duration sum with the aggregated data
aggregated_data = aggregated_data.merge(duration_sum, on='id', how='left')


# Display the aggregated data
display(aggregated_data.head())

,id,price_amount,marketing_carrier_name,origin_place_name,origin_place_iata,destination_place_name,destination_place_iata,departure_datetime,arrival_datetime,departure_query,arrival_query,segment_count,total_flight_duration
0,"10258-2305220035--31924,-31939-2-11389-2305231220",1289.18,Royal Brunei > Qatar Airways > Qatar Airways,Bandar Seri Begawan > Tokyo Narita > Hamad Int...,BWN > NRT > DOH,Tokyo Narita > Hamad International > Ankara Es...,NRT > DOH > ESB,2023-05-22 00:35:00,2023-05-23 12:20:00,BWN,ESB,3,1285
1,10258-2305220035--31924-0-14788-2305220730,459.44,Royal Brunei,Bandar Seri Begawan,BWN,Tokyo Narita,NRT,2023-05-22 00:35:00,2023-05-22 07:30:00,BWN,NRT,1,355
2,"10258-2305220850--31924,-31734-2-25715-2305240220",1195.40,Royal Brunei > Turkish Airlines > Turkish Air...,Bandar Seri Begawan > Kuala Lumpur Internation...,BWN > KUL > IST,Kuala Lumpur International > Istanbul > Astana...,KUL > IST > NQZ,2023-05-22 08:50:00,2023-05-24 02:20:00,BWN,NQZ,3,1085
3,"10258-2305220850--31924,-31734-2-9561-2305240210",1160.90,Royal Brunei > Turkish Airlines > Turkish Air...,Bandar Seri Begawan > Kuala Lumpur Internation...,BWN > KUL > IST,Kuala Lumpur International > Istanbul > Ashgabat,KUL > IST > ASB,2023-05-22 08:50:00,2023-05-24 02:10:00,BWN,ASB,3,1010
4,"10258-2305220850--31924,-31821-1-10610-2305221620",353.10,Royal Brunei > SriLankan Airlines,Bandar Seri Begawan > Kuala Lumpur International,BWN > KUL,Kuala Lumpur International > Colombo Bandarana...,KUL > CMB,2023-05-22 08:50:00,2023-05-22 16:20:00,BWN,CMB,2,365

In [16]:
# check unique pairs
check_unique_pairs = aggregated_data[['departure_query', 'arrival_query']]
check_unique_pairs = check_unique_pairs.drop_duplicates()
check_unique_pairs.shape

(1722, 2)

In [17]:
# export
aggregated_data.to_csv(f'../../Data/flight_itineraries_data.csv', index=False)